[project]
	description = My GNU Emacs config
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sachin (psachin)
[access "refs/for/refs/*"]
	read = group user/Sachin (psachin)
	push = group user/Sachin (psachin)
	label-Code-Review = -2..+2 group user/Sachin (psachin)
	label-Verified = -1..+1 group user/Sachin (psachin)
	rebase = group user/Sachin (psachin)
	removeReviewer = group user/Sachin (psachin)
	submit = group user/Sachin (psachin)
[access "refs/heads/*"]
	read = group user/Sachin (psachin)
	create = group user/Sachin (psachin)
	push = +force group user/Sachin (psachin)
	pushMerge = group user/Sachin (psachin)
[access "refs/tags/*"]
	push = group user/Sachin (psachin)
	push = +force group user/Sachin (psachin)
